@import "compass";


/* -------- Layout -------- */
body {
	background-color: #E8E8E8;
    color: #979797;
    font-family: sans-serif,arial;
    font-size: 13px;
    line-height: 20px;

	&.html-editor {
		background: #FFF;
		}
	&.portal-popup {
		background-image: none;
		border-top-width: 0;
		}
	&.aui-dialog-iframe-popup {
		background: #FFF;
		}	
	}
#wrapper, #footerWrapper {
	background-color: #FFFFFF;
    border-color: #E5E5E5;
    border-image: none;
    border-style: solid;
    border-width: 0 10px;
    margin: 0 auto;
    max-width: 97%;
    padding: 0;

	}
#content {
	 margin: 52px 0 0;
	 padding-bottom: 30px;
	}
.portlet-column-content {
	padding:0 10px;
	
	&.portlet-column-content-only {
		padding:0;
		}
	}
.portlet, .portlet-borderless-container {
	margin:40px 0 20px;
	}
.portlet-topper {
	.portlet-title {
	color: #3F3F3F;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    font-weight:normal;
		}
	}			
.journal-content-article h1, #wrapper  .web-form-portlet .aui-legend  {
	color: #3F3F3F;
    font-family: 'Play',sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
	}	
#banner{
	background: linear-gradient(to bottom, #FBFBFC 0%, #F5F6F7 100%) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(top,#FBFBFC,#F5F6F7);
  	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFC), to(#F5F6F7));
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#FBFBFC,endColorstr=#F5F6F7,GradientType=0); zoom: 1;
	}			
#banner, #content {
	margin: 0 auto;
	padding: 0 70px;
	}
.ie8 #navigation, .ie9 #navigation {
	margin-top: -55px;
	}
.ie7 #navigation{margin-top: -54px;position: relative;top: 23px;}
.ie7 #heading .site-title .logo {
    display: inline-block;
}
.ie .portlet-layout {
	border-collapse:separate;
	}


/* -------- General content styles -------- */
a {
	color:#979797;
	
	&:hover {
		color:#000;
		}
	}
.journal-content-article img {
	@include border-radius(5px);
	}		
iframe {
	border:1px solid #ccc;
	}
.left {
	float: left;
	}
.right {
	float: right;
	}
.clear {
	clear: both;
	}
.portlet-msg-info {
	background-color:#eee;
	border-color:#ccc;
	}
hr {
	background: #DDD;
	border-width: 0;
	clear: both;
	float: none;
	height: 1px;
	margin: 0 0 1.45em;
	width: 100%;
	}
#breadcrumbs, #heading .page-title, #navigation .child-menu, #navigation h1, #skip-to-content, .portlet-journal-content-search .lfr-search-button, .portlet-journal-content-search .lfr-search-keywords {
	clip: rect(0 0 0 0);
	position: absolute;
	}

/* form elements */
#wrapper #main-content {
	
	.aui-field-label {
		margin-bottom:4px;
		}
	input[type="text"], input[type="password"], input[type="file"], select, textarea, .textarea {
		background:none #fff;
		min-width:300px;
		}
	textarea {
		width:60%;
		}	
	input.focus, textarea.focus {
		background:#FAFAFA;
		border-color:#888;
		}		
	}

/* web form elements */
#wrapper .web-form-portlet {

	.aui-fieldset-legend {
		width:100%;
		padding:0;
		}
	.aui-legend {
		position:static;
		width:100%;
		margin-bottom:15px;		
		}
	.description {
		display:block;
		margin-bottom:15px;
		font-style:normal;
		line-height: 1.4;
		}
	}	


/* -------- Header -------- */
#banner {
	position: relative;
	}
#heading {
	position: relative;

	.site-title {
		margin-top: 0;
		padding-top: 2em;
		padding-bottom: 1.5em;

		#pageSearch {
			left: 0;
    		position: absolute;
    		top: 33px;
			}
		.logo{
			display: block;
			margin-top: 50px;
		}
		}
	}
#banner .site-name {
    line-height: normal;
    margin: 15px 0 0 20px;
    padding-left: 30px;
    color: #979797;
    font-family: 'Open Sans',sans-serif,arial;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    top: -5px;
    font-weight:normal; 
	}
.sign-in-block {
	background: #f5f6f7;
	display: block;
	font-size: 1em;
	position: absolute;
	right: 70px;
	top: 0;

	a {
		display:block;	
		color: #909090;
		padding: 5px 15px 7px;
		}
	} 	
.portlet-login .navigation {
	background:transparent;
	}	

/* -------- Search Bar -------- */
#pageSearch {

	#keywords {
		background: none repeat scroll 0 0 #F8F8F8;
		border: 0 none;
    	padding: 7px 0 10px 10px !important;
		color: #9A9A9A;
		font-size: 14px;
		margin-right:10px;
		border-color: #EAEAEA;
    	border-image: none;
    	border-style: solid;
    	border-width: 1px 0 0 1px;	
		
		&.focus {
			border-color:#888;
			}
		}
	.aui-field-inline {	
		vertical-align:top;
		}	
	.lfr-search-button	{
	 	margin-top:4px;
		
		.ie7 & {
			margin-left:5px;
			}
		}
	.lfr-search-keywords {
		margin-right: -40px;
		margin-top: 1px;
		text-transform: uppercase;

		.aui-field-content {
			margin-right: 0;
			padding-right: 0;
			}
		}
	}

/* -------- Navigation -------- */
#navigation {
	clear: both;
	display: block;
	text-align:center;
	margin-top: -78px;
	float: right;
	height:55px;
	margin-left: 200px;
	@include border-top-radius(5px);

	a {
		&:link, &:visited {
			color: #979797;
			text-decoration: none;
			text-transform: capitalize;
			border-right: 1px solid #F7F7F9;
			display: block;
    		padding: 17px 20px;
    		position: relative;
    		font-size: 14px
			}
		&:hover {
			background: none repeat scroll 0 0 #86C729;
    		color: #FFFFFF;
			}
		}
	ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		
		.ie7 & {
			display:inline;
			}

		li {
			float: left;
			padding: 0;
			background-color: #FFFFFF;
	
			&.selected a {
				color: #FFFFFF;
				background: none repeat scroll 0 0 #86C729;
				}
			}
		}	
	}
@-moz-document url-prefix() {
   #navigation {
    margin-top: -79px;
   }
  }
/* -------- Carousel ------- */
#carousel-MAIN-CAROUSEL #carousel > div{background-color: #fff !important;}
.carousel-container {
	margin:-10px;
	@include border-radius(5px);

	.mask {
		position:absolute;
		right:10px;
		top:10px;
		z-index:1000;
		height:120px;
		width:120px;
		}
	.aui-carousel-item {
		width:100%;
		
		.text-block {
			position:absolute;
			top:100px;
			right: 40px;
			color:#222;
			background-color:#fff !important;
			margin-left:620px;
			text-align:right;
			
			h4 {
				margin-bottom:14px;
				font-size: 60px;
				line-height: 50px;
				font-family: 'Play';
				}
			p {
				margin:0;
				color: #999999;
				font-size: 16px;
				text-align: right;
				}	
			}
		}
	#tabs {
		position:absolute;
		bottom:-50px;
		margin:0 auto;
		z-index:999;
		list-style:none;
		width: 251px;
		height:40px;
		text-align:center;
		left:0;
		right:0;	
		
		.ie7 & {
			left:35%;
			}	
		
		 .tab-item {
		 	background: url(../images/custom/carousel_bullets.png) 0 0 no-repeat transparent;
			height:22px;
			width:22px;
			display:inline-block;
			margin:8px 2px 0;
			cursor:pointer;
			
			.ie7 & {
				display:inline;
				}
			&.aui-carousel-menu-active {
			 	background-position: 0 -22px;
				}
			}
		}	
	}

/* -------- Main page content blocks ------- */
.main-content-image, .this-week-special-image {
	float:left;
	margin-right:10px;
	}
.this-week-special-image {
	width:60px;
	}	
	
/* -------- Menu and News -------- */
.menu-item, .news-item, .projects-item, .partners-item {
	clear:both;
	display:inline-block;
	width:100%;
	margin:0 0 15px;
	border-top: 1px dashed #ccc;
	padding-top:15px;
	
	&:first-child {
		border-top-width:0;
		}	
	.date {
		font-style:italic;
		margin-bottom:10px;
		}	
	h2 {
		font-size: 14px;
    	margin: 0 0 5px;
		}
	img {
		float:left;
		margin-right:10px;
		width:60px;
		}
	p {
		margin:0;
		}
		
	}	

/* -------- Partners -------- */
.partners-item {
	margin:0 0 20px;
	padding-top:20px;
	}	

/* -------- Projects -------- */
.projects-item {
    border-top: 0 none;
    display: inline-block;
    margin: 0 24px 10px 0;
    vertical-align: top;
    width: 28%;

    	img {
		margin-bottom: 10px;
		margin-right:0;
    	width: 100%;
			}

	}

/* -------- Reviews ------- */
.reviews-item {
	margin:0 0 20px;
	border-top: 1px dashed #ccc;
	padding-top:20px;
	
	&:first-child {
		border-top-width:0;
		}	
	.author {
		font-style:italic;
		}		
	}

/* -------- Footer -------- */
#footerWrapper {
	border-top: 1px solid #EEEEEE;
	
	
	#footerContent {
		border-top: 1px solid #EEEEEE;
    	padding: 20px 70px;
    	text-align: right;
		}
	}

#footerContent {

	iframe {
		float:left;
		margin-right:10px;
		margin-bottom:10px;
		}		
	p {
		color: #777;
		margin-bottom:2px;
		}
	.aui-column-content {
		padding:0 5px;
		border-left:1px dashed #ccc;
		margin:20px 0;
		min-height: 155px;
		}		
	.aui-column-first .aui-column-content  {
		border-left-width:0;
		padding-right: 20px;
		}	
	h2 {
		color: #3F3F3F;
    	text-transform: uppercase;
    	font-size: 20px;
    	line-height: 28px;
    	font-weight:normal;
		}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 5px 0;

			a {
				text-transform: capitalize;
				outline:0;
				}
			}
		&.social {
			display: inline-block;
			padding: 0;

			li {
				float: left;
				height: 24px;
				margin-bottom: 25px;
				margin-top: 10px;
				padding: 0 10px 0 0;
				width: 29px;
				
				&:hover {
					@include opacity(0.7);
					}

				span {
					display: none;
					}
				}
			}
		}
	}

/* -------- Sub navigation menu -------- */
.nav-menu {

	ul {
		list-style:none;
		margin:0;
		padding:0;
	
		li {
			border-bottom: 1px solid #F4F4F4;
    		margin: 0 0 5px;
    		padding: 0 0 5px;
    		text-decoration: none;

			a{text-decoration: none;}

			}	
		}	
	}
.nav-menu ul li:before {
    content: "•";
    padding-right: 5px;
}

/* -------- Responsive layout -------- */
.aui-view-lt960 {
	
	#banner, #content {
		width:auto;
		}
	#content {
		border-width:0;
		}	
	.portlet-column-content {
		padding:0;
		}	
	.aui-carousel {
		width:100% !important;
		}	
	.portlet-column {
		display:block;
		width:100%;
		}
	#navigation {
		height: auto;
		margin-top:-22px;
		margin-left:0;
		}	
	#navigation ul {
		width:100%;
		}	
	.carousel-container .aui-carousel-item .text-block{
		bottom:10px;
		top:inherit;
		background: transparent !important;
		}
	.carousel-container .aui-carousel-item .text-block h4{
		font-size: 30px;
    	line-height: 25px;
    	margin-bottom: 4px;
    	padding-top: 5px;
		}
	.carousel-container .aui-carousel-item .text-block p{
		font-size: 13px;
		}
	.projects-item{width:28%;}
	#footerContent .aui-column-content{border-left: 0 !important;border-bottom: 1px dashed #CCCCCC;padding-bottom: 20px;padding-left: 0}
	#footerContent .aui-column{width: 100%;}
	#footerContent .aui-column-content-first{padding-right: 0}
	}
	
.aui-view-lt480 {	 

	#navigation {
		height:auto;
		float: none;
		margin-left:0;
		}
	#navigation ul li {
		float:none;
		}
	.carousel-container .aui-carousel-item .text-block{
		bottom:0;
		right: 0;
		padding:10px;
		background: #fff !important;
		margin-left:0;
		}
	.projects-item{width:100%;}
	#footerContent .aui-column-content{border-left: 0 !important;border-bottom: 1px dashed #CCCCCC;padding-bottom: 20px;padding-left: 0}
	#footerContent .aui-column-content-first{padding-right: 0}
	#footerContent .aui-column-content-first{padding-right: 0}
	#footerContent .aui-column{width: 100%;}
	#pageSearch #keywords{width: 150px;}
	#footerContent ul.social li{width: 28px;}
	#footerContent iframe{width: 160px;}

	}