<h1>
	Contact us
</h1>

<p><strong>Address:</strong> 201/1 Sathorn Soi 17 Sathorn Bangkok 10120</p>
<p><strong>Phone:</strong> 66 2 675 8921 - 27</p>
<p><strong>Fax:</strong> 66 2 212 1231</p>
<p><strong>Email:</strong> <a href="mailto:">help@emdev.com</a></p>